@import url(../../components/aside/aside.css);

body {
    background: var(--home-gradient) !important;
    display: flex;
}
/* ! ---------------------------------- wrap ---------------------------------- !! */
.wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
}
/* ! --------------------------------- header --------------------------------- */
.header {
    width: 100%;
    height: 500px;
    padding: 5px 20px 50px 20px;
    position: relative;
}
.header::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/header/sunny.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}
.header::after {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: var(--header-after);
    z-index: -1;
}
.header-question {
    font-size: 3.8rem;
    color: var(--ice-white);
}
.header-hello-user {
    font-size: 2.5rem;
    color: var(--ice-white);
}
.header-date {
    color: var(--gray);
}
.header-mouse {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--ice-white);
    font-size: 1.5rem;
    cursor: pointer;
}
/* ! --------------------------------- navbar --------------------------------- ! */
.navbar-brand {
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--minimal-dark);
}
.navbar-brand span:first-child {
    color: var(--white);
}
.navbar-brand span:nth-child(2) {
    font-weight: lighter;
}
.navbar-brand span:nth-child(3) {
    color: var(--white);
}
.navbar-brand span:last-child {
    font-weight: lighter;
}
/* ! ------------------------------- navbar menu ------------------------------ ! */
.navbar-nav .nav-item {
    font-size: 2rem;
}
.navbar-nav .nav-item:not(:first-child, .nav-item:nth-child(2)) {
    margin-top: -1px;
}
.navbar-hour, .navbar-nav .nav-item:nth-child(2) span {
    color: var(--minimal-dark) !important;
}
.navbar-nav .nav-item:nth-child(3) , .navbar-nav .nav-item:nth-child(4) {
    fill: var(--minimal-dark);
}
.navbar-nav .nav-item:last-child {
    cursor: pointer;
    fill: var(--minimal-dark);
}
/* ! ---------------------------------- main ---------------------------------- ! */
.main {
    padding: 20px;
}
/* ! ------------------------------- main header ------------------------------ ! */
.main-header-title {
    color: var(--white);
    text-transform: capitalize;
}
.search-group {
    border-radius: 8px;
    box-shadow: var(--search-group-shadow);
    border: 1px solid var(--border-button);
    background: var(--dark-green) !important;
    margin-right: 20px;
    width: 400px;
    padding: 1px 5px;
}
.search-group span {
    background: none !important;
    color: var(--ice-white);
    border: none;
}
.search-group input {
    background: none !important;
    border: none;
    box-shadow: none !important;
    height: 40px;
    color: var(--ice-white) !important;
}
.search-group input::placeholder {
    color: var(--gray);
    text-transform: capitalize;
}
.search-group + button {
    padding: 5px 25px;
    height: 45px;
    border: 1px solid var(--border-button);
    border-radius: 8px;
    font-size: 1.3rem;
    background: var(--search-btn-gradient);
    color: var(--ice-white);
    transition: 0.3s;
    box-shadow:  var(--search-btn-shadow);
}
.search-group + button:active {
    box-shadow: var(--search-btn-active-shadow);
}
/* ! ------------------------------ city section ------------------------------ ! */
.city-section {
    margin-top: 60px;
}
.city-section-title {
    color: var(--ice-white);
}
.show-cities-btn, .chart-btn {
    border: 1px solid var(--border-button);
    background: var(--button-gradient);
    color: var(--ice-white);
    fill: var(--ice-white);
    font-size: 1.2rem;
    height: 50px;
}
.show-cities-btn {
    padding: 5px 30px;
    border-radius: 10px;
}
.chart-btn {
    width: 50px;
    border-radius: 12px;
    font-size: 1.5rem;
}
.show-cities-btn:active, .chart-btn:active {
    box-shadow: var(--search-btn-active-shadow);
}
/* ! ------------------------------ weather week ------------------------------ ! */
.weather-titles, .weather-data, .weather-data-dots {
    color: var(--ice-white);
}
.weather-data-dots {
    font-size: 2rem;
    cursor: pointer;
}
.weather-data-C {
    width: 7px;
    height: 7px;
    border: 2px solid var(--ice-white);
    border-radius: 10px;
    margin-left: 3px;
}
/* ! ---------------------------- weather today box --------------------------- ! */
.weather-today-box-inner {
    background: var(--weather-today-box-gradient);
    border-radius: 25px;
    padding: 10px 25px;
}
.weather-today-today {
    color: var(--dark-green);
    font-weight: bolder;
}
.weather-today-day {
    font-weight: bolder;
}
.weather-today-gps, .weather-today-date, .weather-today-temp, .weather-today-day {
    color: var(--ice-white);
}
.calender-btn {
    border-radius: 17px;
    width: 100%;
    padding: 10px 0;
    border: none;
    color: var(--ice-white);
    background: var(--calender-btn-gradient);
    color: var(--dark-black);
    font-weight: bolder;
    font-size: 1.3rem;
}
.calender-btn:active {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.9);
}